                    <footer class="position-absolute bottom-0 start-0 w-100 py-2 my-2">
                        <p class="text-center border-top text-muted">© <script>document.write(new Date().getFullYear())</script></p>
                        <p class="text-center text-muted">Photo by <a href="https://unsplash.com/@lishakov?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Andrej Lišakov</a> on <a href="https://unsplash.com/photos/gray-balanced-arm-lamp-on-brown-wooden-table-3A4XZUopCJA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>
                    </footer>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>