{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

                <!-- Page content-->
                <div class="container-fluid pageHeight position-relative">
                    <div class="row justify-content-center mt-5">
                        <div class="col-sm-6">
                            <div class="card">
                              <div class="card-body">
                                <h1 class="card-title mt-4">Login</h1>
                                {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                              </div>
                            </div>
                        </div>
                    </div>


{% include "footer.html" %}